<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Help Page</title>
  </head>
  <body>
    <!--including the header partial  -->
    {{>header}}
    <p>something inside the paragraph</p>
<!--this is how we inlcude footer in hbs file  -->
    {{>footer}}
  <body>
</html>
